.Useless-btn {
  background-color: #38404b;
  color: #ecf0f1;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  box-shadow: -4px -4px 15px rgba(255, 254, 254, 0.219),
    /* White shadow at the bottom */ 0px 2px 15px rgba(0, 0, 0, 0.6),
    /* Black shadow at the top */ 0px 5px 15px rgba(0, 0, 0, 0.2); /* External shadow */
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  height: 90px;
  width: 250px;
  margin-left: 300px;
  margin-top: 150px;
}

.Useless-btn:hover {
  background-color: #38404b;
  box-shadow: inset 0px -4px 10px rgba(255, 255, 255, 0.15),
    inset 0px 2px 15px rgba(0, 0, 0, 0.7), 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.Text {
  font-size: 100px;
  font-weight: 800;
  color: #94adcf;
  margin-left: 300px;
  margin-top: 40px;
}
.Text-1 {
  font-size: 50px;
  color: #94adcf;
  margin-left: 300px;
  margin-top: 30px;
}
.arrow {
  font-size: medium;
  margin-top: 200px;
}
