/* Container for the entire sign-in page */
body {
  background-color: #38404b;
}
.sign-in-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #38404b;
  height: 100vh;
}

/* Container for the sign-in form and related elements */
.sign-in-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading style */
.h1 {
  margin-bottom: 80px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 810;
}

/* Google sign-in button */
.google-sign-in {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1em;
}

.google-sign-in img {
  margin-right: 10px;
}

/* Separator with 'or' in the middle */
.separator {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

/* Form styling */
.sign-in-form {
  width: 100%;
}

/* Input group for each field */
.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: flex;
  align-items: center; /* Center icon vertically */
}

.input-group i {
  position: absolute;
  left: 10px;
  color: #ccc;
  font-size: 1.2em;
}

.input-group input {
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: calc(100% - 20px); /* Adjusted to consider padding */
  outline: none;
}

.input-group input:focus {
  border-color: #007bff;
}

/* Forgot password link styling */
.forgot-password {
  display: block;
  margin: 15px 0;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Sign-in button */
.sign-in-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.sign-in-btn:hover {
  background-color: #0056b3;
}
.bottom-signup {
  display: block;
  margin: 15px 0;
  color: #000000;
  text-decoration: none;
  font-size: 0.9em;
  margin-top: 100px;
}
