.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  padding: 20px 60px; /* Adjusted padding */
  background-color: #38404b; /* Navbar background color */
  border-radius: 10px; /* Rounded corners */
  position: relative;
}

.logo {
  width: 200px; /* Logo dimensions */
  height: auto; /* Maintain aspect ratio */
}

.task-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35%; /* Adjust this width according to your design needs */
  height: 59px; /* Consistent height for input and button */
  display: flex;
  justify-content: center;
}

.task-input {
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: #38404b; /* Input background color */
  color: #ecf0f1; /* Text color */
  box-shadow: inset 0px -2.4px 5px rgba(247, 247, 247, 0.1),
    inset 0px 3.8px 9px rgba(34, 30, 30, 0.5); /* Black shadow at the top */
}

.task-input::placeholder {
  color: #7f8c8d; /* Placeholder text color */
}

.icon-right {
  color: #94adcf;
  font-size: 24px;
  margin-left: auto; /* Push icon to the right */
  cursor: pointer;
}

.icon-right:hover {
  color: #5dade2; /* Hover color for the icon */
}
