.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 60px;
  background-color: #38404b;
  border-radius: 10px;
  position: relative;
}

.logo {
  width: 200px;
  height: 55px;
}

.task-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.task-input {
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #34495e;
  color: #ecf0f1;
}

.task-input::placeholder {
  color: #7f8c8d;
}

.icon-right {
  color: #94adcf;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.icon-right:hover {
  color: #5dade2;
}
