.nav-link-spacing {
  margin-right: 1rem;
}

.navbar-brand img {
  margin-right: 1rem;
}

.me-auto {
  display: flex;
  align-items: center;
}

.navbar .sign-in-button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  margin-left: auto;
}
